//<цвета>===============================================
$white: #ffffff;
$black: #000000;
$fontFamily: "arial";
$main: rgb(230, 230, 230);
$purple: #5C0089;
$bg: #185785;
$mainBg: #1d242b;
//<ПЕРЕМЕННЫЕ>=======================================================
$maxWidth: 1920px;
$md1: 1024.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//<АДАПАТИВ КОНТЕЙНЕРА>==============================================
.container {
  padding: 0 40px;
  margin: 0 auto;

//   @media (max-width: $md1+px) {}

//   @media (max-width: $md3+px) {
//     padding: 0 20px;
//   }
}

//<импорты>==============================================
@import "null";
html {
    height: 100%;
  }
body {
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%;

}

body {
  background: #fff;

  &._lock {
    overflow: hidden;
  }
}

img {
//   max-width: 100%;
  width: 100%;
  height: auto;
}

//<ОБОЛОЧКА>==============================================
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
header {
    flex: 0 0 auto;
}
  
main {
    flex: 1 0 auto;
}
  
footer {
    flex: 0 0 auto;
}

//==============header
.header {
    background: #000;
    // .header__container
    &__container {
       padding:  20px 40px;
    }
    // .header__items
    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // .header__item
    &__item {
        display: flex;
        align-items: center;
    }
    // .header__logo
    &__logo {
        font-size: 56px;
        color: $main;
        width: 120px;
    }
    // .header__search
    &__search {
        flex: 0 0 60%;
        display: flex;
        @media (max-width: 1350px) {
            flex: 0 0 50%;
        }
        @media (max-width: 1300px) {
            flex: 0 0 40%;
        }
    }
    // .header__links
    &__links {
        flex: 0 0 26%;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1350px) {
            flex: 0 0 30%;
        }
        @media (max-width: 1300px) {
            flex: 0 0 35%;
        }
        
    }
    // .header__link
    &__link {
        color: $main;
        font-size: 18px;
        text-align: center;
        font-weight: 500;
    }
    &__link img{
        width: 40px;
        margin-bottom: 5px;
    }
    &__burger {
        display: none; /* Скрываем бургер и показываем только на мобильных */
    }
    &__mobile-menu {
        display: none; /* Скрываем мобильное меню */
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        background: #000;
        z-index: 999;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
        & .header__link{
            display: flex;
            align-items: center;
            justify-content: start;
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.322);
            margin-bottom: 10px;
            & img{
               margin-right: 15px;
            }
        }

        &.active{
            transform: translateX(0);
            opacity: 1;
        }
    }
    &__mobile-logo{
        display: block;
        text-align: center;
        & img{
            width: 100px;
            margin-bottom: 40px;
        }
    }
    &__mobile-links {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 100%;
        padding-top: 120px;
    }
    @media (max-width: 992px) {
        &__search,
        &__links {
            display: none; /* Скрываем стандартные элементы */
        }

        &__burger {
            display: flex;
        }

        &__mobile-menu.active {
            transform: translateX(0); /* Показываем меню при нажатии */
        }

        .burger__icon {
            background: none;
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 30px;
            width: 30px;
            z-index: 1000;
        }

        .burger__line {
            width: 30px;
            height: 3px;
            background-color: $main;
            transition: transform 0.3s ease-in-out;

        }
    }
}

.search {
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    height: 50px;
    background: $main;
    font-size: 18px;
    &__btn {
        height: 50px;
        background: $main;
        padding-right: 15px;
        border-radius: 0px 5px 5px 0px;
    }
}

/*=============footer=============*/
.footer {
    background: #000;
    padding-top: 50px;
    padding-bottom: 30px;
    border-top: 1px solid #767676;
}
.footer__container {
}
.footer__items {
   
}
.footer__item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer__item:first-child {
   margin-bottom: 50px;
}
.footer__link {
    color: #767676;
    text-decoration: none;
}
.footer__link:not(:last-child){
    margin-right: 20px;
}
.footer__copy {
    margin-right: 10px;
}
.footer__links {
    display: flex;
    flex-wrap: wrap;
}
.footer__linkTwo {
    color: #767676;
}
.footer__linkTwo:not(:last-child){
    margin-right: 5px;
}
@media (max-width: 768px) {
    .footer__item{
        display: flex;
        align-items: center;
    }
    .footer__item:first-child{
        padding-bottom: 20px;
        border-bottom: 1px solid #000;
        margin-bottom: 20px;
    }
    .footer__links{
        display: none;
    }
    .footer__link{
        flex: 0 0 25%;
    }
    .footer__copy{
        text-align: center;
    }
    /* .footer__linkTwo{
        flex: 0 0 50%;
        margin-bottom: 5px;
    } */
}
@media (max-width: 600px) {
    .footer__link{
        flex: 0 0 33%;
    }
}



//===========LOGIN/RIGISTER
.log{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    text-align: center;

    min-width: 350px;
}
.auth_logo{
    width: 100px;
    max-width: 100%;
}
.login__header{
    padding: 30px;
}
.login__title {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 10px;
}
.login__register {
    font-size: 18px;
    margin-bottom: 3rem;
}
.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login__form input{
    width: 100%;
    font-size: 18px;
    padding: 12px;
    background: #f7f7f7;
    border: 1px solid #8f8f8f;
    border-radius: 10px;
}
.login__form input:not(:last-child){
    margin-bottom: 20px;
}
.login__form button{
    width: 100%;
    color: #fff;
    background: #3665F3;
    padding: 15px 0;
    font-weight: 600;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.google__form button{
    width: 100%;
    color: #fff;
    background: #3665F3;
    padding: 15px 0;
    font-weight: 600;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.login__btn{
    display: block;
    border: 1px solid #000;
    padding: 15px;
    color: #000;
    font-size: 18px;
    text-decoration: none;
    border-radius: 25px;
    background: url(../img/google.png);
    background-repeat: no-repeat;
    background-size: 20px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    background-position: 20px center;
}
.login__header{
    position: absolute;
    top: 0;
    left: 0;
}




//===========intro
.intro {
    background: url('../img/intro/bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
    height: 60vh;
    // .intro__container
    &__container {
        padding: 80px 40px;
    }
    // .intro__suptitle

    &__suptitle {
        color: #e28000;
        font-size: 24px;
        font-weight: 600; 
        text-shadow: #000;
        margin-bottom: 20px;
        text-shadow: #000 1px 0 3px;
        @media (max-width:425px) {
            font-size: 18px;
        }
    }

    &__title {
        color: #ffffff;
        font-size: 62px;
        font-weight: 600;
        margin-bottom: 20px;
        text-shadow: #000 1px 0 10px;
        @media (max-width:425px) {
            font-size: 46px;
        }
    }
    // .intro__btn
    &__btn {
        background: transparent;
        border: 2px solid $main;
        border-radius: 10px;
        padding: 5px 35px;
        font-size: 28px;
        color: #ffffff;
        transition: all .5s ease;

    }
    &__btn:hover{
        background: #ffffff;
        color: #000;
        transition: all .3s ease;
    }
}


//============articles
.articles {
    // .articles__container
    &__container {
        max-width: 1800px;
    }
    // .articles__items
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__name{
        font-size: 32px;
        text-align: center;
        margin-bottom: 40px;
    }
    &__item {
        flex: 0 0 21%;
        margin-bottom: 40px;
        &:nth-of-type(3n) {
            flex: 0 0 30%;
        }
        @media (max-width: 768px) {
            flex: 0 0 48%;
            &:nth-of-type(3n) {
                flex: 0 0 48%;
            }
        }
        @media (max-width: 640px) {
            flex: 0 0 100%;
            &:nth-of-type(3n) {
                flex: 0 0 100%;
            }
        }
    }
    // .article__img
    &__img {
        object-fit: cover;
        aspect-ratio: 1 / 1;
        margin-bottom: 15px;
    }
    // .article__title
    &__title {
        font-size: 26px;
        margin-bottom: 10px;
        color: #000;
    }
    // .article__date
    &__date {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.411);
    }
}


//======article
.article {
    height: 70%;
    // .article__container
    &__container {
        padding: 80px 40px;
    }
    // .article__intro
    &__intro {
        margin-bottom: 80px;
    }
    // .article__suptitle
    &__suptitle {
        color: #e28000;
        font-size: 24px;
        font-weight: 600; 
        text-shadow: #000;
        margin-bottom: 20px;
        @media (max-width:425px) {
            font-size: 18px;
        }
    }
    // .article__title
    &__title {
        color: #555454;
        font-size: 62px;
        font-weight: 600;
        margin-bottom: 20px;
        @media (max-width:425px) {
            font-size: 46px;
        }
    }    
    &__content {
        padding: 0 40px;
        display: flex;
        justify-content: space-between; /* Распределяет пространство между элементами */
        align-items: flex-start; /* Выравнивание элементов по верхнему краю */
        gap: 20px; 
    }
    // .article__imgs
    &__imgs {
        flex: 1; /* Занимает доступное пространство */
        display: flex;
        flex-wrap: wrap;
        gap: 20px; /* Расстояние между изображениями */
        max-width: 45%;
    }
    &__img{
        width: 48%;
    }
    // .article__text
    &__text{
        flex: 1; /* Занимает доступное пространство */
        max-width: 50%; /* Максимальная ширина текста (можно регулировать) */
        font-size: 24px;
        line-height: 140%;
    }
}


//==========profile
.profile {
    margin-top: 60px;
    margin-bottom: 60px;
    // .profile__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__left{
        flex: 0 0 28%;
        @media (max-width: 1024px) {
            flex: 0 0 100%;
            display: flex;
            justify-content: space-between;
        }
        @media (max-width: 840px) {
           flex-direction: column;
           margin-bottom: 25px;
        }
        @media (max-width: 400px) {
            flex-direction: column;
            margin-bottom: 10px;
         }
    }
    // .profile__card
    &__card {
        background: #fff;
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        margin-bottom: 20px;
        @media (max-width: 1024px) {
            flex: 0 0 50%;
        }
        @media (max-width: 450px) {
            flex: 0 0 auto;
        }

    }
    // .profile__img
    &__img {
        text-align: center;
        margin-bottom: 10px;
        & img{
            border-radius: 20px;
            object-fit: cover;
            max-width: 100%;
            aspect-ratio: 1 / 1;
            @media (max-width: 1024px) {
                border-radius: 50%;
                width: 335px;
            }
        }
    }
    // .profile__name
    &__name {
        margin-bottom: 10px;
        font-size: 26px;
        font-weight: 600;
    }
    // .profile__email
    &__email {
        font-size: 18px;
    }
    // .profile__info
    &__info {
        flex: 0 0 70%;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        max-height: 450px;
        @media (max-width: 1024px) {
            flex: 0 0 100%;
        }
        @media (max-width: 600px) {
            max-height: 500px;
        }
    }
    // .profile__item
    &__item {
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.082);
        margin-bottom: 20px;
    }
    // .profile__title
    &__title {
        flex: 0 0 25%;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 5px;
        @media (max-width: 600px) {
            flex: 0 0 50%;
        }
    }
    // .profile__data
    &__data {
        flex: 0 0 45%;
        font-size: 20px;
        color: #000;
    }
    &__btns{
        text-align: right;
    }
    &__edit{
        padding: 5px 15px;
        border: 2px solid #000;
        border-radius: 5px;
        font-size: 18px;
        background: transparent;
        font-weight: 600;
    }
    &__save{
        padding: 5px 15px;
        border: 2px solid #000;
        border-radius: 5px;
        font-size: 18px;
        background: transparent;
        font-weight: 600;
    }
}
//===============
.profile {
    // .profile__dashboard
    &__dashboard {
        @media (max-width: 1024px) {
            flex: 0 0 48%;
        }
    }
}
.dashboard {
    // .dashboard__books
    &__books {
        background: #fff;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    // .dashboard__img
    &__img {
        margin-right: 50px;
        & img{
            width: 100px;
        }
    }
    // .dashboard__nfo
    &__info {
        text-align: center;
        }
    // .dashboard__title
    &__title {
        margin-bottom: 5px;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
    // .dashboard__subtitle
    &__subtitle {
        margin-bottom: 10px;
        font-size: 18px;
    }
    // .dashboard__count
    &__count {
        font-size: 32px;
    }
}

//===========products
.products {
    margin-top: 60px;
    // .products__container
    &__container {
    }
    // .products__items
    &__items {
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-between;
    }
    // .products__item
    &__item {
        flex: 0 0 24%;
        background: rgba(163, 152, 152, 0.082);
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        margin-bottom: 20px;
        color: #000;
    }
    // .products__img
    &__img {
        flex: 0 0 48%;
        & img{
            object-fit: cover;
            // aspect-ratio: 1 / 1;
            margin-bottom: 15px;
        }
    }
    // .products__info
    &__info {
        flex: 0 0 45%;
    }
    // .products__name
    &__name {
        font-size: 32px;
        margin-bottom: 5px;
        font-weight: 600;
    }
    // .products__lvl
    &__lvl {
        font-size: 18px;
        margin-bottom: 10px;
    }
    // .products__price
    &__price {
        font-size: 32px;margin-bottom: 10px;
    }
    // .products__description
    &__description {
        font-size: 16px;
    }
}


/*===================sLIDER==============================*/
.productDetail{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.productDetail__left{
    flex: 0 0 60%;
}
.productDetail__right{
    flex: 0 0 38%;
    margin-bottom: 3rem;
}

@media (max-width: 992px) {
    .productDetail{
       flex-wrap: wrap;
    }
    .productDetail__left{
        flex: 0 0 100%;
    }
    .productDetail__right{
        flex: 0 0 100%;
    }
}   
@media (max-width:768px) {
    .productDetail{
        display: block;
 }
}
.slider {
    padding: 32px;
    color: #fff;
}

@media (max-width: 768px) {
    .slider {
        padding: 10px;
    }
}

.slider .swiper-container {
    width: 100%;
    height: 100%;
}

.slider__flex {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.slider__col {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 32px;
}

.slider__prev,
.slider__next {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    height: 48px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.slider__next img,
.slider__prev img {
    max-width: 100%;
    width: 30px;
}

.slider__thumbs {
    height: calc(400px - 96px);
}

.slider__thumbs .slider__image {
    transition: 0.25s;
    filter: grayscale(100%);
    opacity: 0.5;
}

.slider__thumbs .slider__image:hover {
    opacity: 1;
}

.slider__thumbs .swiper-slide-thumb-active .slider__image {
    filter: grayscale(0%);
    opacity: 1;
}

.slider__images {
    height: 400px;
    @media (max-width: 768px) {
        height: auto;
    }
}

.slider-img {
    height: 100%;
}

.slider__images .slider__image img {
    transition: 3s;
    object-fit: contain; /* Ensure images cover the container */
}

.slider__images .slider__image:hover img {
    transform: scale(1.1);
}

.slider__image {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.slider__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure images cover the container */
}

@media (max-width: 767.98px) {
    .slider__flex {
        flex-direction: column-reverse;
    }

    .slider__col {
        align-items: center;
        margin-right: 0;
        width: 100%;
    }

    .slider__images {
        width: 100%;
    }

    .slider__thumbs {
        height: 100px;
        width: calc(100% - 96px);
        margin: 0 16px;
    }

    .slider__prev,
    .slider__next {
        display: none;
    }

    .swiper-backface-hidden .swiper-slide-img {
        width: 40px !important;
    }
}

/*==================ProductDetail===============*/
.productDetail__right {
}
.productDetail__left {
}
.productDetail__title {
font-size: 32px;
font-weight: 600;
margin-bottom: 10px;
}
.productDetail__price {
font-weight: 400;
font-size: 48px;
margin-bottom: 20px;
}
.productDetail__condition {
font-size: 24px;
margin-bottom: 20px;
}
.productDetail__time {
font-weight: 600;
font-size: 32px;
margin-bottom: 20px;
}
.productDetail__btns {
display: flex;
flex-direction: column;
margin-bottom: 40px;
}

.productDetail__btn {
border-radius: 30px;
color: #000;
font-size: 24px;
padding: 10px 0;
border: 1px solid #000000;
background: transparent;
cursor: pointer;
text-align: center;
}
.product__btnAdd{
    border-radius: 30px;
    color: #000000;
    border: 1px solid #000000;
    font-size: 24px;
    padding: 10px 0;
    background: transparent;
    cursor: pointer;
}
.product__btnAdd-active{
    color: #fff;
    background: #000000;

}
.productDetail__btn:first-child{
margin-bottom: 20px;
background: #000000;
color: #fff;
}
.productDetail__items {

}
.productDetail__item {
display: flex;
}
.productDetail__item:not(:last-child){
margin-bottom: 10px;
}
.productDetail__item div:first-child{
flex: 0 0 20%;
}

/*OTHER*/

.other {
    margin: 4rem 0;
}
.other__title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 60px;
}
.other__subtitle {
    font-size: 18px;
    color: rgb(167, 167, 167);
    margin-bottom: 20px;
}
.other__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.otherTwo{
    display: none;
}
@media (max-width:992px) {
    .otherOne{
        display: none;
    }
    .otherTwo{
        display: block;
    }
    .other__items{
       
    }
}
.other__items a{
    text-decoration: none;
    color: #000;
}
.other__item {
    width: 250px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;

}
.other__item{
    margin-right: 20px;

}
.otherItem {
}
.otherItem__img {
   padding: 10px;
   border-radius: 20px;
}
.otherItem__img img{
    max-width: 100%;
    width: 250px;
}
.otherItem__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}
.otherItem__level{
    margin-bottom: 10px;
    font-size: 16px;
}
.otherItem__price {
    font-size: 24px;
    font-weight: 400;
}
.otherItem__deliery {
}














































//====================CHAT SUPPORT
/* Стиль для окна чата */
.chat-window {
    display: none; /* Скрываем по умолчанию */
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    flex-direction: column;
}
.hidden{
    display: none;
}
.chatMessage{
    margin-bottom: 10px;
}
/* Кнопка для открытия чата */
.open-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}
/* Заголовок чата */
.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Кнопка закрытия */
.close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

/* Основная область чата */
.chat-body {
    flex: 1; /* Занимает всё доступное пространство */
    padding: 10px;
    overflow-y: auto;
}

/* Форма для отправки сообщений */
#message-form {
    display: flex;
    
}

.send-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

/* чат лист */
.chat-list {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.chat-item {
    flex: 0 0 46%;
    width: 100%;
    background: linear-gradient(135deg, #1e3a8a, #3b82f6); /* Градиент фона */
    margin-bottom: 15px; /* Расстояние между элементами */
    padding: 15px 20px; /* Внутренний отступ */
    border-radius: 10px; /* Сглаженные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Анимация при наведении */
}

.chat-item a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #fff; /* Белый цвет текста */
    font-weight: 600; /* Полужирный шрифт */
    font-size: 1.1em; /* Увеличиваем размер текста */
}

.chat-item:hover {
    transform: translateY(-5px); /* Поднимаем элемент при наведении */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Усиливаем тень при наведении */
}

.list__title {
    color: #1e3a8a; /* Темно-синий цвет заголовка */
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

/* админ чат */
#message-form {
    display: flex;
    align-items: center;
    gap: 10px; /* Промежуток между полем ввода и кнопкой */
    background-color: #f0f4ff; /* Светлый синий фон для формы */
    border-radius: 10px;
    padding: 5px;
}
#chat-window {
    margin-bottom: 20px;
}
.message-item {
  
}

#message-form input[type="text"],
#message-form textarea {
    flex-grow: 1; /* Поле ввода занимает оставшееся пространство */
    padding: 10px;
    border: 2px solid #3b82f6; /* Синяя рамка */
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
   
}

#message-form input[type="text"]:focus,
#message-form textarea:focus {
    border-color: #1e3a8a; /* Темно-синяя рамка при фокусе */
    box-shadow: 0 0 5px rgba(30, 58, 138, 0.5); /* Синяя тень при фокусе */
}

.admin_button {
    background: linear-gradient(135deg, #1e3a8a, #3b82f6); /* Градиент для кнопки отправки */
    color: #fff; /* Белый текст */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

#message-form button:hover {
    background: #1e40af; /* Темно-синий фон при наведении */
    transform: translateY(-2px); /* Легкое перемещение вверх при наведении */
}

#message-form button:active {
    background: #1e3a8a; /* Еще более темный фон при нажатии */
    transform: translateY(1px); /* Легкое перемещение вниз при нажатии */
}
.chat__body{
    height: 100%;
    background: #f0f4ff;
    padding-top: 120px;
}
.chat__title{
    text-align: center;
}
.admin__chat{
    margin-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
}