{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="icon" href="{% static 'img/header/logo.png' %}">
    <title>Article</title>
</head>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% include 'header.html' %}

<main>
    <div class="article">
        <style>
            .article__intro{
                background: url("{{ article.background.url }}");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        </style>
        <div class="article__intro">
            <div class="article__container container">
                <div class="article__suptitle">
                    {{ article.theme }}
                </div>
                <div class="article__title">
                    {{ article.name }}
                </div>
            </div>
        </div>
        <div class="article__content">
            <div class="article__text">
                {{ article.description }}
            </div>
            <div class="article__imgs">
                <div class="article__img">
                    <img src="{{ article.image.url }}" alt="">
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}
