{% load static %}
{% load i18n %}

<footer class="footer">
    <div class="footer__container container">
        <div class="footer__items">
            <div class="footer__item">
                <a href="{% url 'aboutUs' %}" class="footer__link">{% trans 'About us' %}</a>
                {% if user.is_authenticated %}
                <a href="{% url 'profile' username=user.username %}" class="footer__link">{% trans 'Profile' %}</a>
                {% else %}
                <div></div>
                {% endif %}
                <a href="{% url 'index' %}" class="footer__link">{% trans 'Articles' %}</a>
                <a href="#" class="footer__link">{% trans 'Security information' %}</a>
                <a href="#" class="footer__link">{% trans 'Seller information center' %}</a>
                <a href="{% url 'cookies' %}" class="footer__link">{% trans 'Policies' %}</a>
                <a href="#" class="footer__link">{% trans 'Affiliates' %}</a>
                <a href="{% url 'contacts' %}" class="footer__link">{% trans 'Help & Contact' %}</a>
                <a href="#" class="footer__link">{% trans 'Site Map' %}</a>
            </div>
            <div class="footer__item">
                <div class="footer__links">
                    <a href="#" class="footer__linkTwo">{% trans 'User Agreement,' %}</a>
                    <a href="{% url 'cookies' %}" class="footer__linkTwo">{% trans 'Privacy,' %}</a>
                    <a href="#" class="footer__linkTwo">{% trans 'Payments Terms of Use,' %}</a>
                    <a href="#" class="footer__linkTwo">{% trans 'Cookies and AdChoice' %}</a>
                </div>
                <div class="footer__copy">{% trans 'Copyright © 1995-2024 Inc. All Rights Reserved.' %}</div>

            </div>
        </div>
        
    </div>
</footer>
