{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/header/logo.png' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Home</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div class="intro">
            <div class="intro__container container">
                <div class="intro__suptitle">- The theme of August</div>
                <div class="intro__title">The 100 best <br> recipes of the XXI century</div>
                <a href="{% url 'products' %}" class="intro__btn">
                    Recipe catalog
                </a>
            </div>
        </div>
        <div class="articles">
            <div class="articles__container container">
                <div class="articles__name">
                    More than 1210 recipes
                </div>
                <div class="articles__items">
                    {% for article in articles %}
                    <a href="{% url 'article' article.id %}" class="articles__item">
                        <img src="{{ article.image.url }}" alt="" class="articles__img">
                        <div class="articles__title">
                            {{article.name}}
                        </div>
                        <div class="articles__date">
                            {{article.date}}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="plan">
            <div class="plan__container container">
                <div class="plan__name">CHOOSE PLAN</div>
                <div class="plan__cards">
                    <div class="plan__card">
                        <div class="plan__lvl">Beginner</div>
                        <div class="plan__price">$ 49.80</div>
                        <div class="plan__month">Per Month</div>
                        <div class="plan__days">5-day period at 1.95€</div>
                        <div class="plan__subtitle">2 ebooks per week</div>
                        <div class="plan__subtitle">Coach by phone 2 hours / month</div>
                        <div class="plan__subtitle">5-day period for 1.95 €</div>
                        <div class="plan__btn">
                            <a href="{% url 'payment' plan_type='beginner' %}">buy now</a>
                        </div>
                    </div>
                    <div class="plan__card">
                        <div class="plan__lvl">Basic</div>
                        <div class="plan__price">$ 69.80</div>
                        <div class="plan__month">Per Month</div>
                        <div class="plan__days">5-day period at 1.95€</div>
                        <div class="plan__subtitle">5 ebooks per week</div>
                        <div class="plan__subtitle">Coach by phone 5 hours / month</div>
                        <div class="plan__subtitle">5-day period for 1.95 €</div>
                        <div class="plan__btn">
                            <a href="{% url 'payment' plan_type='basic' %}">buy now</a>
                        </div>
                    </div>
                    <div class="plan__card">
                        <div class="plan__lvl">Pro</div>
                        <div class="plan__price">$ 85.80</div>
                        <div class="plan__month">Per Month</div>
                        <div class="plan__days">5-day period at 1.95€</div>
                        <div class="plan__subtitle">10 ebooks per week</div>
                        <div class="plan__subtitle">Coach by phone 10 hours / month</div>
                        <div class="plan__subtitle">5-day period for 1.95 €</div>
                        <div class="plan__btn">
                            <a href="{% url 'payment' plan_type='pro' %}">buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CHAT -->
        <div id="chatWindow" class="chat-window">
            <div class="chat-header">
                <h5>Support</h5>
                <button id="closeChat" class="close-btn">&times;</button>
            </div>
            <div id="chatBody" class="chat-body">
                
            </div>
            <form method="post" id="message-form">
                {% csrf_token %}
                {{ form.text }} 
                <button type="submit" class="send-btn">Send</button>
            </form>
        </div>
            <button id="openChat" class="open-btn">Support</button>
    </main>
    {% include 'footer.html' %}

     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'script/app.js' %}"></script>
    <script>
        $(document).ready(function() {
            // Обновление чата каждые 5 секунд
            setInterval(loadChat, 1000);
        
            // Функция загрузки сообщений чата с сервера
            function loadChat() {
                $.ajax({
                    url: '{% url "chat_view" %}', // URL для получения сообщений
                    method: 'GET',
                    success: function(response) {
                        $('#chatBody').html(response.html); // Обновление содержимого окна чата
                    },
                    error: function(xhr, status, error) {
                        console.log('Ошибка при загрузке чата:', error);
                    }
                });
            }
            // Обработка отправки формы через AJAX
            $('#message-form').submit(function(event) {
                event.preventDefault(); // Предотвращение стандартной отправки формы
                $.ajax({
                    url: '{% url "chat_view" %}', // URL для отправки сообщений
                    method: 'POST',
                    data: $(this).serialize(),
                    success: function(response) {
                        $('#chatBody').html(response.html); // Обновление сообщений в чате
                        $('#message-form')[0].reset(); // Сброс формы
                    },
                    error: function(xhr, status, error) {
                        console.log('Ошибка при отправке сообщения:', error);
                    }
                });
            });
        
            // Закрытие чат-окна
            $('#closeChat').click(function() {
                $('#chatWindow').hide(); // Скрытие контейнера чата
            });
        
            // Открытие чат-окна
            $('#openChat').click(function() {
                $('#chatWindow').show(); // Показать контейнер чата
            });
        });
        </script>
</body>
</html>