{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/header/logo.png' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>My books</title>
</head>

{% block content %}
<body style="background: #eee;">
    {% include 'header.html' %}

    <main>
      <div class="introBooks">
        <div class="intro__container container">
            <div class="intro__title introBooks__title">A list of your books</div>
            <a href="{% url 'products' %}" class="introBooks__btn">
              New books
            </a>
        </div>
    </div>
        <section id="user-products"> 
            {% for user_product in user_products %}
                <article class="user-product">
                    <header class="userProduct__img">
                        <img src="{{ user_product.images.first.image.url }}" alt="">
                    </header>
            
                    <div class="product-details">
            
                      <h1> {{user_product.name}}</h1>
            
                      <div class="userProduct__description">{{user_product.description}}</div>
            
                    </div>
            
                    <footer class="product-footer">
                        <a target="_blanc" href="{{ user_product.document.url }}" class="userProduct__download">
                            Download
                        </a>
            
                      <h2 class="userProduct__level">
                        {{user_product.level}}
                      </h2>
            
                      <h2 class="userProduct__price">
                          {{user_product.price}}
                      </h2>
                    </footer>
                  </article>
            {% endfor %}
            {% if messages %}
                <div id="messages">
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
          </section>
      
        </div>
    </main>
    {% include 'footer.html' %}
    <script>
      // Автоматическое скрытие сообщения через 3 секунды
      setTimeout(function() {
          var messages = document.getElementById('messages');
          if (messages) {
              messages.style.display = 'none';
          }
      }, 2000);
  </script>
</body>
{% endblock %}

