{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>My books</title>
</head>

{% block content %}
<body style="background: #eee;">
    {% include 'header.html' %}

    <main>
        <section id="user-products"> 
            {% for user_product in user_products %}
                <article class="user-product">
                    <header>
                      <a class="remove-product">
                        <img src="{{ user_product.images.first.image.url }}" alt="">
                      </a>
                    </header>
            
                    <div class="product-details">
            
                      <h1> {{user_product.name}}</h1>
            
                      <div class="userProduct__description">{{user_product.description}}</div>
            
                    </div>
            
                    <footer class="product-footer">
                        <a target="_blanc" href="{{ user_product.document.url }}" class="userProduct__download">
                            Download
                        </a>
            
                      <h2 class="userProduct__level">
                        {{user_product.level}}
                      </h2>
            
                      <h2 class="userProduct__price">
                          {{user_product.price}}
                      </h2>
                    </footer>
                  </article>
            {% endfor %}
          </section>
      
        </div>
    </main>
    {% include 'footer.html' %}

</body>
{% endblock %}

