{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Products</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div class="products">
            <div class="products__best productsBest">
                <div class="productsBest__name">Best Recipes</div>
                <div class="productsBest__items">
                    {% for bestProduct in bestProducts %}
                    <a href="{% url 'product' bestProduct.id %}" class="productsBest__item">
                        <img src="{{ bestProduct.images.first.image.url }}" alt="">
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="products__container container">
                <div class="products__panel">
                    <form id="filter-form" method="GET" action="">
                        <div class="products__filters">
                            <div class="products__count">{{total_products}} books</div>
                            <div class="products__base">
                                <input class="products__checkbox"  type="checkbox" name="base" id="base" {% if request.GET.base %}checked{% endif %}>
                                <label for="base">Base</label>
                            </div>
                            <div class="products__pro">
                                <input class="products__checkbox" type="checkbox" name="pro" id="pro" {% if request.GET.pro %}checked{% endif %}>
                                <label for="pro">Pro</label>
                            </div>
                            <div class="products__reset">
                                <button id="reset-btn" type="submit" name="reset" value="true">Reset everything</button>
                            </div>
                        </div>
                        <div class="products__search">
                            <input type="text" name="search" placeholder="Enter something" value="{{ request.GET.search }}">
                            <button type="submit">Find it here</button>
                        </div>
                    </form>
                </div>
                
                <div class="products__items">
                    {% for category in categories %}
                        <div class="products__category category">
                            <h2 class="category__name">{{ category.name }}</h2>
                            <div class="category__items">
                                {% for product in products %}
                                    {% if product.category == category %}
                                        <div class="category__item">
                                            <a href="{% url 'product' product.id %}" class="products__img">
                                                {% if product.images.first %}
                                                    <img src="{{ product.images.first.image.url }}" alt="">
                                                {% else %}
                                                    <img src="{% static 'path/to/default/image.jpg' %}" alt="">
                                                {% endif %}
                                            </a>
                                            <div class="products__info">
                                                <form method="post" action="">
                                                {% csrf_token %}
                                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                                <div class="products__price">${{ product.price }}</div>
                                                <div class="products__func">
                                                    <div class="products__lvl">Level: <span>{{ product.level.name }}</span></div>
                                                    <button type="submit" name="add_to_my_books" class="products__btn">
                                                        <!-- SVG icon here -->
                                                    </button>
                                                </div>
                                                <div class="products__name">{{ product.name }}</div>
                                                </form>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
    </main>
    {% include 'footer.html' %}
    <script>
        var checkboxes = document.querySelectorAll('.products__checkbox');

        checkboxes.forEach(function(checkbox) {
            checkbox.checked = true;
          });
        document.getElementById('reset-btn').addEventListener('click', function() {
            // Получаем все чекбоксы внутри формы
           
            // Устанавливаем состояние чекбоксов в false
            checkboxes.forEach(function(checkbox) {
              checkbox.checked = false;
            });
          });

          document.addEventListener('DOMContentLoaded', function() {
            const productsBestItems = document.querySelector('.productsBest__items');
        
            productsBestItems.addEventListener('wheel', function(event) {
                if (event.deltaY !== 0) {
                    event.preventDefault();
                    productsBestItems.scrollLeft += event.deltaY;
                }
            });
        });
    </script>
</body>