{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <title>product</title>
</head>
<body>
    {% include 'header.html' %}

    <main>
        <div class="productDetail container">
            <div class="productDetail__left">
    
                <section class="slider">
                    <div class="">
                        <div class="slider__flex">
                            <div class="slider__col">
    
                                <div class="slider__prev"><img src="{% static 'img/arrowU.svg' %}" alt=""></div> <!-- Кнопка для переключения на предыдущий слайд -->
    
                                <div class="slider__thumbs">
                                    <div class="swiper-container"> <!-- Слайдер с превью -->
                                        <div class="swiper-wrapper">
                                            {% for image in product.images.all %}
                                            <div class="swiper-slide swiper-slide-img">
                                                <div class="slider__image"><img src="{{ image.image.url }}" alt="{% trans 'Image' %}"/></div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
    
                                <div class="slider__next"><img src="{% static 'img/arrowD.svg' %}" alt=""></div> <!-- Кнопка для переключения на следующий слайд -->
    
                            </div>
    
                            <div class="slider__images">
                                <div class="swiper-container"> <!-- Слайдер с изображениями -->
                                    <div class="swiper-wrapper">
                                        {% for image in product.images.all %}
                                        <div class="swiper-slide">
                                            <div class="slider__image slider-img"><img src="{{ image.image.url }}" alt="{% trans 'Image' %}"/></div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </section>
    
                {% comment %} <div class="other otherOne">
                    <div class="other__title">{% trans 'Other auctions' %}</div>
                    <div class="other__subtitle">{% trans 'Sponsered' %}</div>
                    <div class="other__items">
                        {% for otherProduct in otherProducts %}
                        <a href="{% url 'product' product_id=otherProduct.id %}">
                            <div class="other__item otherItem">
                                <div class="otherItem__img">
                                    <img src="{{ otherProduct.images.first.image.url }}" alt="{{otherProduct.name}}" class="">
                                </div>
                                <div class="otherItem__title">{{otherProduct.name}}</div>
                                <div class="otherItem__price">Eur {{otherProduct.price}} €</div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div> {% endcomment %}
            </div>
            <div class="productDetail__right">
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <div class="productDetail__title" id="productTitle-{{ product.id }}">{{ product.name }}</div>
                    <div class="productDetail__price">{{ product.level }} $</div>
                    <div class="productDetail__btns">
                        <a href="" class="productDetail__btn">{% trans 'Buy' %}</a>
                        <button type="submit" class="productDetail__btn">{% trans 'Add to favorites' %}</button>
                    </div>
                    <div class="productDetail__condition">{% trans 'Description:' %} {{ product.description }}</div>
                </form>

            </div>
        </div>
        <div class="other otherTwo container">
            <div class="other__title">{% trans 'Other auctions' %}</div>
            <div class="other__subtitle">{% trans 'Sponsered' %}</div>
            <div class="other__items">
                {% for otherProduct in otherProducts %}
                <a href="{% url 'product' product_id=otherProduct.id %}">
                    <div class="other__item otherItem">
                        <div class="otherItem__img">
                            <img src="{{ otherProduct.images.first.image.url }}" alt="{{ otherProduct.name }}">
                        </div>
                        <div class="otherItem__title">{{ otherProduct.name }}</div>
                        <div class="otherItem__own">{% trans 'New' %}</div>
                        <div class="otherItem__price">Eur {{ otherProduct.price }} €</div>
                        <div class="otherItem__delivery">+2€ {% trans 'shipping' %}</div>
                    </div>
                </a>
            {% empty %}
                <p>{% trans 'No other products available.' %}</p>
            {% endfor %}
            </div>
        </div>
    </main>
    
    
    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{% static 'script/product.js' %}"></script>
 
</body>
</html>