{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<body>
    {% include 'header.html' %}
    <main>
        <div class="products">
            <div class="products__best productsBest">
                <div class="productsBest__name">Best Recipes</div>
                <div class="productsBest__items">
                    {% for bestProduct in bestProducts %}
                    <a href="{% url 'product' bestProduct.id %}" class="productsBest__item">
                        <img src="{{ bestProduct.images.first.image.url }}" alt="">
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="products__container container">
                <div class="products__title">Recipes by category</div>
                <div class="products__items">
                    {% for category in categories %}
                        <div class="products__category category">
                            <h2 class="category__name">{{ category.name }}</h2>
                            <div class="category__items">
                                {% for product in category.products.all %}
                                <a href="{% url 'product' product.id %}" class="category__item">
                                    <div class="products__img">
                                        {% if product.images.first %}
                                            <img src="{{ product.images.first.image.url }}" alt="">
                                        {% else %}
                                            <img src="{% static 'path/to/default/image.jpg' %}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="products__info">
                                        <div class="products__price">${{ product.price }}</div>
                                        <div class="products__lvl">Level: {{ product.level }}</div>
                                        <div class="products__name">{{ product.name }}</div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    {% include 'footer.html' %}

</body>