{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/header/logo.png' %}">
    <link rel="icon" href="{% static 'img/header/logo.png' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Profile</title>
</head>
<body style=" background: #eee;">
    {% include 'header.html' %}

    <main>
        <div class="profile">
            <div class="profile__container container">
                
                <div class="profile__left">
                    <div class="profile__card">
                        <div class="profile__img">
                            {% if user.avatar %}
                                <img id="avatar-preview" src="{{ user.avatar.url }}" alt="{{ user.username }}">
                            {% else %}
                                <!-- Если аватарки нет, используйте изображение по умолчанию -->
                                <img id="avatar-preview" src="{% static 'img/profile/default.jpg' %}" alt="{{ user.username }}">
                            {% endif %}
                        </div>
                        <input type="file" id="avatar-input" style="display: none;">

                        <!-- Button to open the file input dialog -->
                        <button class="profile__editAvatar" id="change-avatar-button">Change</button>

                        <div class="profile__name">{{ user.username }}</div>
                        <div class="profile__email">{{ user.email }}</div>
                    </div> 
                    <div class="profile__dashboard">
                        <div class="dashboard">
                            <div class="dashboard__books">
                                <div class="dashboard__img">
                                    <img src="{% static 'img/profile/book.svg' %}" alt="">
                                </div>
                                <div class="dashboard__info">
                                    <div class="dashboard__title">E-books</div>
                                    <div class="dashboard__subtitle">Available / Remaining</div>
                                    <div class="dashboard__count">{{ added_books }}/{{ remaining_books }}</div>
                                </div>
                            </div>
                            <div class="dashboard__books">
                                <div class="dashboard__img">
                                    <img src="{% static 'img/profile/book.svg' %}" alt="">
                                </div>
                                <div class="dashboard__info">
                                    <div class="dashboard__title">Lessons</div>
                                    <div class="dashboard__subtitle">Upcoming / Past</div>
                                    <div class="dashboard__count">{{ upcoming_lessons }} / {{ past_lessons }}</div>
                                </div>
                            </div>
                            <div class="dashboard__books">
                                <a href="{% url 'lesson' %}" class="dashboard__btn">Assign a call</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__info">
                    <div class="profile__item">
                        <div class="profile__title">First Name</div>
                        <div class="profile__data" id="first-name-data">{{ user.first_name }}</div>
                        <input type="text" id="first-name-input" value="{{ user.first_name }}" class="edit-input" style="display: none;">
                    </div>
                    <div class="profile__item">
                        <div class="profile__title">Last Name</div>
                        <div class="profile__data" id="last-name-data">{{ user.last_name }}</div>
                        <input type="text" id="last-name-input" value="{{ user.last_name }}" class="edit-input" style="display: none;">
                    </div>
                    <div class="profile__item">
                        <div class="profile__title">Email</div>
                        <div class="profile__data" id="email-data">{{ user.email }}</div>
                        <input type="text" id="email-input" value="{{ user.email }}" class="edit-input" style="display: none;">
                    </div>
                    <div class="profile__item">
                        <div class="profile__title">Phone Number</div>
                        <div class="profile__data" id="phone-number-data">{{ user.phone_number }}</div>
                        <input type="text" id="phone-number-input" value="{{ user.phone_number }}" class="edit-input" style="display: none;">
                    </div>
                    <div class="profile__item">
                        <div class="profile__title">Address</div>
                        <div class="profile__data" id="address-data">{{ user.adress }}</div>
                        <input type="text" id="address-input" value="{{ user.adress }}" class="edit-input" style="display: none;">
                    </div>
                    <div class="profile__item">
                        <div class="profile__title">Country</div>
                        <div class="profile__data" id="country-data">{{ user.country }}</div>
                        <input type="text" id="country-input" value="{{ user.country }}" class="edit-input" style="display: none;">
                    </div>
                    <div class="profile__item">
                        <div class="profile__title">City</div>
                        <div class="profile__data" id="city-data">{{ user.city }}</div>
                        <input type="text" id="city-input" value="{{ user.city }}" class="edit-input" style="display: none;">
                    </div>
                    <div class="profile__btns">
                        <button id="edit-button" class="profile__edit btn btn-primary">Edit</button>
                        <button id="save-button" class=" profile__save btn btn-success" style="display: none;">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'footer.html' %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Ensure elements exist before attaching event listeners
            const fileInput = document.getElementById('avatar-input');
            const avatarPreview = document.getElementById('avatar-preview');
            const changeAvatarButton = document.getElementById('change-avatar-button');
        
            if (fileInput && avatarPreview && changeAvatarButton) {
                // Open file input dialog when the button is clicked
                changeAvatarButton.addEventListener('click', function() {
                    fileInput.click();
                });
        
                // Handle file input change
                fileInput.addEventListener('change', function(event) {
                    const file = event.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = function(e) {
                            // Update the avatar image preview
                            avatarPreview.src = e.target.result;
        
                            // Prepare form data
                            const formData = new FormData();
                            formData.append('avatar', file);
        
                            // Send the image to the server
                            fetch('{% url "profile" username=user.username %}', {
                                method: 'POST',
                                body: formData,
                                headers: {
                                    'X-Requested-With': 'XMLHttpRequest',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                }
                            })
                            .then(response => response.json())
                            .then(data => {
                                // Optionally handle success or error feedback
                                console.log('Success:', data);
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                        };
                        reader.readAsDataURL(file);
                    }
                });
            } else {
                console.error('Required elements are missing');
            }
        });
        </script>
        
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('edit-button').addEventListener('click', function() {
                document.querySelectorAll('.edit-input').forEach(function(input) {
                    input.style.display = 'block';
                });
                document.querySelectorAll('.profile__data').forEach(function(data) {
                    data.style.display = 'none';
                });
                document.getElementById('save-button').style.display = 'inline';
                this.style.display = 'none';
            });
        
            document.getElementById('save-button').addEventListener('click', function() {
                var data = {
                    first_name: document.getElementById('first-name-input').value,
                    last_name: document.getElementById('last-name-input').value,
                    email: document.getElementById('email-input').value,
                    phone_number: document.getElementById('phone-number-input').value,
                    adress: document.getElementById('address-input').value,
                    country: document.getElementById('country-input').value,
                    city: document.getElementById('city-input').value,
                };
        
                console.log('Sending data:', data);  // Для отладки
        
                fetch("{% url 'update_profile' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(result => {
                    console.log('Response:', result);  // Для отладки
                    if (result.success) {
                        location.reload(); // Обновите страницу, чтобы отобразить новые данные
                    } else {
                        // Преобразование объекта ошибок в строку для отображения
                        let errorMessage = 'Ошибка при сохранении данных:\n';
                        if (result.errors) {
                            for (const [field, errors] of Object.entries(result.errors)) {
                                errorMessage += `${field}: ${errors.join(', ')}\n`;
                            }
                        } else if (result.error) {
                            errorMessage += result.error;
                        }
                        alert(errorMessage);
                    }
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                });
        
                document.querySelectorAll('.edit-input').forEach(function(input) {
                    input.style.display = 'none';
                });
                document.querySelectorAll('.profile__data').forEach(function(data) {
                    data.style.display = 'block';
                });
                this.style.display = 'none';
                document.getElementById('edit-button').style.display = 'inline';
            });
        });
    </script>
        
</body>
</html>
